[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
termcolor = "*"
gitpython = "*"
pyinquirer = "*"
inquirer = "*"
emoji = "*"
gitignore-parser = "*"
psutil = "*"
pathlib2 = "*"
click = "*"
invoke = "*"
click-help-colors = "*"

[requires]
python_version = "3.7"
