blessed==1.17.6
click==7.1.2
click-help-colors==0.8
emoji==0.6.0
gitdb==4.0.5
gitignore-parser==0.0.8
GitPython==3.1.9
inquirer==2.7.0
invoke==1.4.1
pathlib2==2.3.5
prompt-toolkit==1.0.14
psutil==5.7.2
Pygments==2.7.1
PyInquirer==1.0.3
python-editor==1.0.4
readchar==2.0.1
regex==2020.10.15
six==1.15.0
smmap==3.0.4
termcolor==1.1.0
wcwidth==0.2.5
